body {
    background-color: lightgrey;
}

div.img {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

div.link {
    text-align: center;
    font-size: 60px;
    padding-top: 35px;
}